src\segment-anything\*
datafiles\yolo\configs\benchmark_config\*.json
datafiles\yolo\pickles\*
datafiles\yolo\saved_weights\*.h5
datafiles\classification\saved_weights\*
datafiles\classification\*
**\__pycache__\*
src\datafiles\crop\predict_csv\*
src\classification\benchmark_weights\*
src\classification\Notebooks\benchmark_classif\*
rapport.docx
requirements.txt
datafiles\classification\datasets\*
datafiles\crop\predict_csv\*
datafiles\crop\predictions_whole_dataset_cleaned_only_species_50_1000.csv
**\__pycache__\
datafiles\yolo\classif.txt
datafiles/yolo/classif.txt